@page "/ithelpdesk"


<PageTitle>Jobs Database</PageTitle>

<h1>Jobs Database</h1>

@if (Jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Subject</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Days Old</th>
                <th>Status</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Jobs)
            {
                <tr>
                    <td>@job.ticket_id)</td>
                    <td>@job.ticket_subject</td>
                    <td>@job.ticket_description</td>
                    <td>@job.created_by</td>
                    <td>@job.DaysOld(@job.created_at)</td>
                    <td>@job.status</td>
                    <td>@job.priority</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    
    static string JSONtxt = File.ReadAllText(@"data/itsupporthelpdesk.json");
    Tickets[] Jobs = Newtonsoft.Json.JsonConvert.DeserializeObject<Tickets[]>(JSONtxt);
    

}
